header {
    background: #232323;
    .headerWrap {
        display: flex;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        justify-content: space-between;
        height: 70px;
        padding: 0 40px;
        .title {
            font-size: 30px;
            color: #fff;
        }
    }
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto 0;
    overflow: hidden;
    background: #202329;
    #sidebar {
        color: #fff;
        width: 20%;
        float: left;
        padding: 0 20px 20px;
        position: relative;
        .form {
            margin-bottom: 40px;
            border: 1px solid;
            padding: 10px;
            h3{
                margin: 15px 5px 10px;
                text-transform: uppercase;
            }
        }
        button{
            font-size: 1rem;
            padding: 13px;
            border: 0;
            background: #ffffffeb;
            border-radius: 5px;
            position: absolute;
            right: 0;
            top: 20px;
        }
        h2{
            margin: 28px 0;
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        width: 73%;
        float: left;
        padding: 20px;
        .sidebar_search{
            width: 75%;
            float: left;
            input {
                color: rgba(0, 0, 0, 0.87);
                font-size: 1rem;
                padding: 13px;
                border: 0;
                -webkit-appearance: none;
                border-radius: 2px;
                &[type="submit"]{
                    background: #ffffffeb;
                }
            }
        }
        .sort-section{
            select{
                color: rgba(0, 0, 0, 0.87);
                font-size: 1rem;
                padding: 13px 20px 13px 10px;
                border: 0;
                background: #ffffffeb;
                border-radius: 5px;
                float: right;
            }
        }
        .characters {
            display: flex;
            flex-wrap: wrap;
            .card-component__section {
                padding: 15px;
                margin-bottom: 10px;
                width: 21.5%;
            }
            .card_item{
                background: #333;
                border-radius: .625rem;
                overflow: hidden;
                box-shadow: 0 0 10px #000;
                .card-component__header{
                    position: relative;
                    img{
                        width:100%;
                    }
                    .card-title {
                        position: absolute;
                        bottom: 0;
                        background: rgba(0,0,0,.81);
                        color: #fff;
                        padding: 10px;
                        width: 90%;
                        .card-header{
                            display: block;
                            font-size: 1.3em;
                            font-weight: bold;
                        }
                        .card-id{
                            font-size: 0.875rem;
                        }
                    }
                }
                .card-component__details{
                    padding: 10px;
                    .bottom-border{
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid;
                        padding-bottom: 10px;
                        padding-top: 10px;
                        font-size: 12px;
                        &:last-child {
                            border-bottom: none;
                        }
                        span{
                            color: #fff;
                            margin-right: 20px;
                            white-space: nowrap;
                        }
                        label{
                            color: #ff9800;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
}
